$def with (session, zones_interdites)
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="author" content="5IF" />
	<meta name="description" content="Gestion de vélos en ligne" />

	<title>Velo'V Unchained</title>
	<link rel="icon" href="static/img/bike.ico" type="image/x-icon">
	<link rel="stylesheet" href="static/css/site.css" type="text/css" media="screen" charset="utf-8"/>
	<link rel="stylesheet" href="static/css/foundation.css" type="text/css" media="screen" charset="utf-8"/>

	<script src="static/js/modernizer.js"></script>
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD557QLPKAycHKwNmmviNQisn4UJ2Lg4IU&sensor=true"></script>

	<script type="text/javascript">

		//Zones interdites
		var idZone = null;
		$for zone_interdite in zones_interdites:
			if (idZone != $zone_interdite.id){
				idZone = $zone_interdite.id
				var zone$zone_interdite.id = [];
			}
			zone$(zone_interdite.id).push(JSON.parse('{"lat": $zone_interdite.lat, "long": $zone_interdite.long}'));

		var zones = [];
		zones.push(zone$(zone_interdite.id));

		//Liste des objets velos
		var velovsList = [];

		//Objets vélos
		function velov(velov_id,velov_lat,velov_long){
			this.velov_id = velov_id;
			this.velov_lat = velov_lat;
			this.velov_long = velov_long;
			this.count_inaccessible = 0;

			this.showVelov = showVelov;
			function showVelov(){
				//trace un marqueur
				var marker = new google.maps.Marker({
					position: new google.maps.LatLng(this.velov_lat, this.velov_long),
					map: googleMap,
					title: "Vélo disponible",
					icon: "static/img/bike-icon.png"
				});

				$if session:
					var contentString = '<h6>Vélo n°'+this.velov_id+'</h6>'+
					'<a onclick=bookEvent('+this.velov_id+','+this.velov_lat+','+this.velov_long+') class="button">Réserver</a>&nbsp'+
					'<a onclick=takeEvent('+this.velov_id+') class="button">Prendre</a>'+
					'<br/><a onclick=bikeInaccessible('+this.velov_id+') class="button alert small">Signaler innaccesible</a>';
					if (this.count_inaccessible > 0){
						contentString = contentString + '<p class="alert round label">Attention ce vélo a été signalé innaccesible '+this.count_inaccessible+' fois</p>';
					}
				$else:
					var contentString = '<h6>Vélo n°'+this.velov_id+'</h6>'+
					'<p>Vous devez vous connecter pour effectuer une opération</p>';

				var infowindow = new google.maps.InfoWindow({
					content: contentString
				});

				google.maps.event.addListener(marker, 'click', function() {
					infowindow.open(googleMap,marker);
				});
			}
		}

		var googleMap;
		var oldLat = null;
		var oldLng = null;

		function initialize() {
			if(navigator.geolocation) {
			//initialise la map
				var mapOptions = {
					center: new google.maps.LatLng(45.7500000, 4.8500000),
					zoom: 13
				};
				googleMap = new google.maps.Map(document.getElementById("googleMap"),mapOptions);

				startLocalisation();

				//Affichage des zones interdites
				for (var i=0; i<zones.length; i++){
					drawZones(zones[i]);
				}
			}
			else {
				alert('Votre navigateur ne supporte pas la géolocalisation HTML5');
			}

			$if session:
				//Ouverture de pop-up si utilisateur a une action en cours
				if ('$session.is_a_bike_in_use' == 'True'){
					jQuery('#takeOk').foundation('reveal', 'open');
				}
				else if ('$session.is_a_reservation_taking_place' == 'True'){
					var now = new Date();
					if ($session.reservation_starting_time + 300000 > now.getTime()){
						jQuery('#bookOk').foundation('reveal', 'open');
						bookTimer($session.reservation_starting_time + 300000);
					}
				}
		}
		google.maps.event.addDomListener(window, 'load', initialize);
									 
		function startLocalisation() {
			//active le GPS
			var userPosition = navigator.geolocation.watchPosition(callbackSuccess, callbackError, {enableHighAccuracy: true});
		}
							 
		function callbackSuccess(position) {
			//récupère la latitude et la longitude
			var latitude = position.coords.latitude;
			var longitude = position.coords.longitude;
											 
			//trace un marqueur
			var marker = new google.maps.Marker({
				position: new google.maps.LatLng(latitude, longitude),
				map: googleMap,
				title: "Vous êtes ici"
			});
										 
			//centre la map aux coordonnées voulue
			googleMap.panTo(new google.maps.LatLng(latitude, longitude));	

			jQuery.ajax({
				url: '/getCloseBikes', // La ressource ciblée
		       	type: 'POST', // Le type de la requête HTTP.
		       	data: 'current_location_lat=' + latitude + '&current_location_long=' + longitude,
		       	dataType: "json",
		       	success: function(data){
		       		for (var i=0; i<data.length; i++){
		       			var velo = new velov(data[i].velov_id,data[i].velov_lat,data[i].velov_long)
		       			velovsList.push(velo);
		       			velo.showVelov();
		       		}
		       	}
			}); 
		}
							 
		function callbackError(error) {
			switch(error.code) {
				case error.UNKNOWN_ERROR:
					alert("La géolocalisation a rencontré une erreur.");
				break;
				case error.PERMISSION_DENIED:
					alert("L'utilisateur n'a pas voulu donner sa position.");
				break;
				case error.POSITION_UNAVAILABLE:
					alert("Les coordonnées de l'utilisateur n'ont pas pu être trouvées.");
				break;
				case error.TIMEOUT:
					alert("La géolocalisation prend trop de temps.");
				break;
			}
		}

		function drawZones(zone){
			var coordPolygon = [];

			for (var j=0; j<zone.length; j++){
				coordPolygon.push(new google.maps.LatLng(zone[j].lat, zone[j].long));
			}

			// Construct the polygon.
			var zonePolygon = new google.maps.Polygon({
				paths: coordPolygon,
				strokeColor: '#FF0000',
				strokeOpacity: 0.8,
				strokeWeight: 2,
				fillColor: '#FF0000',
				fillOpacity: 0.35
			});

			zonePolygon.setMap(googleMap);

		}

		function bookEvent(velov_id,velov_lat,velov_long) {
			jQuery.ajax({
		       	url: '/book', // La ressource ciblée
		       	type: 'POST', // Le type de la requête HTTP.
		       	data: 'velo=' + velov_id,
		       	dataType: "text",
		       	success: function(data){
		       		if (data == "OK"){
		       			jQuery('#bookOk').foundation('reveal', 'open');
		       			jQuery('#buttonTakeNow').html('<a onclick="takeEvent('+velov_id+')" class="button">Prendre maintenant</a>');
		       			//TODO récupérer date de la fin de la réservation
		       			time = new Date();
		       			printAddress(velov_lat,velov_long);
		       			bookTimer(time.getTime() + 300000);
		       		}
		       	}
		    });
		}

		function printAddress(lat,long,time){
			jQuery.ajax({
   				url: 'http://maps.googleapis.com/maps/api/geocode/json',
   				type: 'GET',
   				data: 'latlng='+lat+','+long +'&sensor=true',
   				dataType: "json",
   				success: function(address){
   					if (address.status == "OK"){
   						jQuery('#addressVelo').html(address.results[0].formatted_address);
   					}
   					else {
   						jQuery('#addressVelo').html("Impossible d'afficher l'adresse");
   					}
   				}
   			});
		}

		function takeEvent(velov_id){
			jQuery.ajax({
				url: '/take',
				type: 'POST',
				data: 'velo=' + velov_id,
				dataType: "text",
				success: function(data){
					if (data == "OK"){
		       			jQuery('#takeOk').foundation('reveal', 'open');
		       		}
				}
			});
		}

		function bookTimer(time) {
			now = new Date();
			restTime = (time - now.getTime());
			if (restTime < 0){
				jQuery('#bookOk').foundation('reveal', 'close');
				jQuery('#bookEnd').foundation('reveal', 'open');
				//TODO : ajouter un blâme
				bookCancel();
			}
			else{
				minutes = Math.floor(restTime / 60000);
				secondes = Math.round((restTime - minutes)/1000) % 60;
				if (secondes == 0){
					minutes++;
				}
				timeHTML = minutes + " min " + secondes + " sec";
				document.getElementById("timeBookVelo").innerHTML = timeHTML;
				setTimeout("bookTimer(time.getTime() + 300000)",1000);
			}
		}

		function bookCancel(){
			jQuery.ajax({
				url: '/bookCancel',
				type: 'POST',
				dataType: "text",
				success: function(data){
					if (data == "OK"){
		       			jQuery('#bookOk').foundation('reveal', 'close');
		       		}
				}
			});
		}

		function bikeInaccessible(velo){
			jQuery.ajax({
				url: '/bikeInaccessible',
				type: 'POST',
				data: 'velo=' + velo,
				dataType: "text",
				success: function(data){
					if (data == "OK"){
		       			jQuery('#bikeInaccessibleOk').foundation('reveal', 'close');
		       		}
				}
			});
		}

	</script>
</head>
<body>

	<nav class="top-bar" data-topbar>
		<ul class="title-area">
			<li class="name">
				<h1><a href="#">Velo'V Unchained</a></h1>
			</li>
			<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li> 
		</ul>

		<section class="top-bar-section">
			<!-- Right Nav Section -->
			<ul class="right">
				$if session:
					<li class="name">
						<a>Bonjour $session['user_login']</a>
					</li>
					<li>
						<a href="/logout" class="button">Déconnexion</a>
					</li>
				$else:
					<li class="has-form">
					<div class="row collapse">
						<form method="post" action="/">
							<li><input type="text" name="login" placeholder="Login" /></li>&nbsp
							<li><input type="password" name="password" placeholder="Password" /></li>&nbsp
							<li><input type="submit" class="button" name="submitlogin" value="Se connecter"></li>
						</form>
					</div>
					</li>
			</ul>
		</section>
	</nav>

	<div id="bookOk" class="reveal-modal" data-reveal>
		<h2>Vous avez réservé un vélo</h2>
		<p class="lead">Il est situé <span id="addressVelo"></span></p>
		<p class="lead">Il vous reste <span id="timeBookVelo"></span> pour prendre le vélo</p>
		<span id="buttonTakeNow"></span>
		<a class="alert button" onclick="bookCancel()">Annuler la réservation</a> 
	</div>

	<div id="bookEnd" class="reveal-modal" data-reveal>
		<h2>Vous avez dépassé le temps imparti</h2>
		<p class="lead">Vous aviez 5 minutes pour prendre le vélo, vous allez avoir un blâme</span></p>
		<a class="alert button" onclick="jQuery('#bookOk').foundation('reveal', 'close');">Fermer</a> 
		<a class="close-reveal-modal">&#215;</a>
	</div>

	<div id="takeOk" class="reveal-modal" data-reveal>
		<h2>Vous avez un vélo en cours d'utilisation</h2>
		<p>Attention, vous avez 30 secondes pour déverrouiller le vélo</p>
	</div>

	<div id="bikeInaccessibleOk" class="reveal-modal" data-reveal>
		<h2>Merci</h2>
		<p>Votre signalement a bien été pris en compte, merci de votre contribution</p>
		<a class="alert button" onclick="/">Fermer</a>
	</div>

	<div id="googleMap"/>

	<script src="static/js/jquery.js"></script>
	<script src="static/js/foundation.min.js"></script>
	<script>
		jQuery(document).foundation();
	</script>

</body>

</html>
		       					
